<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>baby</title>
	<script src="http://apps.bdimg.com/libs/layer.m/1.5/layer.m.js"></script>
	<script src="http://apps.bdimg.com/libs/vue/1.0.8/vue.min.js"></script>
	<link href="http://apps.bdimg.com/libs/layer.m/1.5/need/layer.css" rel="stylesheet">
	<style type="text/css">
	input{
		font-size: 20px;
		width:100px;
	}
	.split{
		padding: 20px;
	}
	</style>
</head>
<body>

<div id="milk">
  <button v-on:click="cut10">-10</button> {{ value }}ml  <button v-on:click="add10">+10</button>
  <br/>
  <button class="post" v-on:click="post">喂奶</button>
  <hr/>
  日期 ： {{ displayDay }}  <button v-on:click="dayList">日期列表</button>
  <ul>
    <li v-for="dayName in allDayList">
      <span>{{ dayName}}</span><button v-on:click="display($index)">查看</button>
    </li>
  </ul>
  <br/>
  总计：{{dayTotal}}ml 
  <ul>
    <li v-for="day in displayDayList">
      <input v-model="day.time" /><input v-model="day.value" number/>ml
      <button v-on:click="removeTodo($index)">X</button><span class="split"></span><button v-on:click="modify">修改</button>
    </li>
  </ul>
</div>



</body>
<script type="text/javascript">
function getTopic(topic){
	if(!localStorage[topic]){
		localStorage[topic] = "{}";
	}
	return JSON.parse(localStorage[topic]);
}
function addAction(topic ,dayKey, obj){
	if(!localStorage[topic]){
		localStorage[topic] = "{}";
	}
	var action = JSON.parse(localStorage[topic]);
	if(!action[dayKey]){
		action[dayKey] = new Array();
	}
	action[dayKey].push(obj);
	localStorage[topic] =JSON.stringify(action);
	return action[dayKey];
}
function delAction(topic ,dayKey, index){
	if(!localStorage[topic]){
		return;
	}
	var action = JSON.parse(localStorage[topic]);
	if(!action[dayKey]){
		return;
	}
	action[dayKey].splice(index, 1);
	localStorage[topic] =JSON.stringify(action);
	return action[dayKey];
}

function modifyAction(topic ,dayKey, dayActionList){
	if(!localStorage[topic]){
		return;
	}
	var action = JSON.parse(localStorage[topic]);
	if(!action[dayKey]){
		return;
	}
	action[dayKey] = dayActionList;
	localStorage[topic] =JSON.stringify(action);
}

new Vue({
	  el: '#milk',
	  data: {
	  	topic:"milk",
	    value: (localStorage.milk_value) ? 	Number(localStorage.milk_value) :50,
	    displayDay:"",
	    displayDayList:[],
	    allDayList:[]
	  },
	  computed: {
	  	dayTotal:function() {
	  			var total = 0;
				for(i=0;i<this.displayDayList.length;i++){
					total +=this.displayDayList[i].value;
				}
				return total;
	  	}
  	  },
	  methods: {
		    add10: function (event) {
		      this.value = this.value +10;
		      localStorage.milk_value = this.value;
		    },
		    cut10: function (event) {
		    	this.value = this.value -10;
		    	localStorage.milk_value = this.value;
			},
			post: function(){
				var date = new Date();
				var dayKey = date.getFullYear() + "_" + (date.getMonth() + 1) + "_"+ date.getDate();
				var time = date.toTimeString().substr(0,5);
				var actionDay = addAction(this.topic,dayKey,{"time":time,"value":this.value});
				this.displayDayList = actionDay;
				this.displayDay = dayKey;
			},
			dayList:function() {
				var dayArr = Object.keys(getTopic(this.topic));
				this.allDayList = dayArr;
			},
			display:function(index) {
				this.displayDay = this.allDayList[index];
				this.displayDayList = getTopic(this.topic)[this.displayDay];
				this.allDayList = [];
			},
			removeTodo:function(index){
				this.displayDayList = delAction(this.topic ,this.displayDay, index);
			},
			modify:function(){
				modifyAction(this.topic,this.displayDay,this.displayDayList);
			}
		  }
	});
</script>
</html>
